<div class="container-row" >
    <div class="card" style="width: 18rem; padding: 16px;">
        <img class="card-img-top" src="static/imageC.png" alt="Rizzen">
        <div class="card-body">
            <h5 class="card-title"><b>Rizzen</b></h5>
            <p class="card-text">200W power station</p>
            <p class="card-text">60W Laptop: <b>3.3 hours</b></p>
            <p class="card-text">Price: <b>R 2600</b></p>
            <button class="btn btn-primary">More Details</button>
        </div>
    </div>

    <div class="card" style="width: 18rem; padding: 16px;">
        <img class="card-img-top" src="static/imageA.png" alt="Eco-Flow River">
        <div class="card-body">
            <h5 class="card-title"><b>Eco-Flow River</b></h5>
            <p class="card-text">300W power station</p>
            <p class="card-text">60W Laptop: <b>5 hours</b></p>
            <p class="card-text">Price: <b>R 5500</b></p>
            <button class="btn btn-primary">More Details</button>
        </div>
    </div>

    <div class="card" style="width: 18rem; padding: 16px;">
        <img class="card-img-top" src="static/imageB.png" alt="Bluetti">
        <div class="card-body">
            <h5 class="card-title"><b>Bluetti</b></h5>
            <p class="card-text">600W power station</p>
            <p class="card-text">60W Laptop: <b>10 hours</b></p>
            <p class="card-text">Price: <b>R 11000</b></p>
            <button class="btn btn-primary">More Details</button>
        </div>
    </div>
</div>